{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Abstracto</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Modern Art Gallery.</h2>
                    <a class="btn btn-primary" href="#">What's on</a>
                </div>
            </div>
        </div>
    </header>
          <!-- About-->
          <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">What we do</h2>
                        <p class="text-white-50">
                            Abstracto has been at the forefront of modern art for over 20 years. Our unique mix of events and artist residencies is at the heart of what we do.
                            Many artists over the years have curated their own exhibitions in our viewing studios, taking our spaces and turning them into a unique space
                            to display their works.
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="static/img/greyroom.jpg" alt="..." />
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-black mb-4">What the Critics say about us</h2>
                    </div>
                </div>
            </div>
            <div class="container px-4 px-lg-5">
                <!-- Critic Reviews Row-->
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="static/img/widefloor.jpg" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>First Critic Review</h4>
                            <p class="text-black-50 mb-0">Don't just take our words for it, let the globe's leading art critics tell you about why they love Abstracto.</p>
                        </div>
                    </div>
                </div>
                <!-- Review One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="static/img/industrialwidespace.jpg" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Harmon Tellison</h4>
                                    <p class="fst-italic text-white">The Modern Artist Magazine, Italy</p>
                                    <p class="mb-0 text-white-50">"I travelled to Abstracto expecting the best, and I was not dissapointed. I cannot wait to return in the future and view the next exhibition."</p>
                                    <hr class="d-none d-lg-block mb-0 ms-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Review Two Row-->
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="static/img/sixinrow.jpg" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Vanessa Von Vandergraff</h4>
                                    <p class="fst-italic text-white">(Curator) The Edge Gallery, Los Angeles</p>
                                    <p class="mb-0 text-white-50">"I was invited to the residency of Arthur Sidney who had completely blown me away with his small works. His Q&A event was a unique and fantastic evening full of great chat and an insightful view of his working process."</p>
                                    <hr class="d-none d-lg-block mb-0 me-0" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}